<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesIndex.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/StylesAddproduct.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/003cc75b52.js" crossorigin="anonymous"></script>
    <title>ZERO | Agregar o Editar Productos</title>
</head>
<body>
    
    <!------------------------------HEADER-------------------------------->
    <%- include('./partials/header')%> 


    <h1 class="titulo">Agregar o Editar Productos</h1>

    <!--------------------------------FORM---------------------------------->

    <div class="contenedor-form">        
        <form class="product-form" action="/products/productEdit/<%=producto.id%>?_method=put" method="POST" enctype="multipart/form-data">

<!----------------------NOMBRE ALBUM-------------------------->

            <div class="controlador-form">
                <label for="product-name">Nombre del Album</label>
                <input class="input-style" type="text" name="productName" id="product-name" value="<%=producto.name%>" required>
            </div>

<!----------------------NOMBRE ARTISTA-------------------------->

            <div class="controlador-form">
                <label for="artist">Nombre del Artista</label>
                <input class="input-style" type="text" name="productArt" id="artist" value="<%=producto.artist%>" required>
            </div>

<!----------------------GENERO ALBUM-------------------------->

            <div class="controlador-form">
                <label for="product-genre">Género</label>
                <select class="input-style-category" name="productGenre" id="product-genre" required >
                    <option value="rock">Rock</option>
                    <option value="pop">Pop</option>
                    <option value="hip-hop">Hip-Hop</option>
                    <option value="ryb">R&B</option>
                    <option value="clasica">Clásica</option>
                    <option value="kpop">K-Pop</option>
                    <option value="metal">Metal</option>
                    <option value="punk">Punk</option>
                    <option value="alternativo">Alternativo</option>
                    <option value="jazz">Jazz</option>
                    <option value="funk">Funk</option>
                    <option value="soul">Soul</option>
                    <option value="folk">Folk</option>
                </select>
            </div>

<!----------------------DESCRIPCION-------------------------->

            <div class="controlador-form">
                <label for="product-description">Descripción del Producto</label>
                <textarea class="text-area" name="productDescription" id="product-description" cols="30" rows="10" required><%=producto.description%></textarea>
            </div>

<!----------------------CATEGORIA-------------------------->

            <div class="controlador-form">
                <label for="product-category">Categoría</label>
                <select class="input-style-type" name="productType" id="product-type" required> 
                    <option value="cd">CD</option>
                    <option value="vinilo">Vinilo</option>
                    <option value="especial">Articulo especial</option>
                </select>
            </div>

<!----------------------PRECIO-------------------------->

            <div class="controlador-form">
                <label for="product-price">Precio</label>
                <input class="input-style" type="number" name="productPrice" id="product-price" value="<%=producto.price%>" required>
            </div>

<!----------------------AGREGAR IMAGEN-------------------------->

            <div class="controlador-form-image">
                <label class="input-image-boton" for="productImage">Agregar Imágen</label>
                <input class="input-image" type="file" name="productImage" id="productImage" accept=".jpg,.png" required>
            </div>   
            
<!----------------------PRODUCT ID-------------------------->

            <div class="controlador-form">
                <label for="product-id">ID del Producto</label>
                <input class="input-style" type="number" name="product-id" id="product-id" value="<%=producto.id%>" required>
            </div>

<!----------------------BOTON SUBMIT-------------------------->

            <div class="controlador-form">
                <button class="button-submit-product" type="submit">¡Agregar Producto!</button>
            </div>
        </form>
    </div>

<!------------------------------FOOTER--------------------------------->

    <%- include ('./partials/footer') %>

</body>
</html>